#explorer {
	font-size: 0px;
	display: inline-block;
	width: 280px;
	height: 160px;
	margin-bottom: 2px;
	color: white;
	text-shadow: 0px 0px 1px black;
}
#freesoundAPI {
	display: flex;
	width: 280px;
	height: 15px;
	font-size: 10px;
	margin-bottom: 5px;
    justify-content: center;
	align-items: center;
}

#apiKey {
	box-sizing: border-box;
	width: 170px;
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	& option {
		font-size: 10px;
	}
	-webkit-text-security: disc; /* pour les navigateurs basés sur WebKit */
	-moz-text-security: disc; /* pour les navigateurs basés sur Mozilla */
	text-security: disc; /* pour les autres navigateurs */
}

#apiKeyButton {
	height: 15px;
	width: 28px;
	font-size: 10px;
	padding: 0px;
	margin-right: 5px;
	justify-content: center;
	align-items: center;
}

#apiKeyButton.saved {
	border: 1px solid green;
	border-radius: 2px;
	background-color: lightgreen;
}


#search {
	box-sizing: border-box;
	width: 90px;
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	& option {
		font-size: 10px;
	}
}

#searchButton {
	width: 60px;
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid green;
	border-radius: 3px;
}
.error {
	border: 1px solid darkred;
	border-radius: 2px;
	background-color: red;
}

#timeRange {
	width: 50px;
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin-right: 5px;
}

#results {
	width: 280px;
	height: 110px;
	margin-bottom: 5px;
	display: inline-block;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	&::-webkit-scrollbar { /* Chrome, Safari, Opera */
		display: none;
	}
	border-radius: 10px;
}

#results.error {
	border: 1px solid darkred;
	background-color: rgba(255, 0, 0, 0.5);
	color: white;
	text-shadow: 0px 0px 1px black;
	font-size: 12px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
}

#nextPage, #previousPage {
	width: 25px;
	height: 15px;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
}

.resultExplorer {
	display: inline-block;
	width: 90px;
	height: 33px;
	margin-right: 1.5px;
	margin-left: 1.5px;
	margin-bottom: 5px;
}

.resultButton {
	width: 90px;
	height: 26px;
	margin-top: 3px;
	font-size: 10px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
    border: 1px solid black;
    background-color: #ccc;
    color: black;
    cursor: pointer;
	box-shadow: none;
	position: relative;
}

button, select, input {
	&:focus {
		outline: none;
	}
}
